@import "tailwindcss";

@theme inline {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
  --color-orange-600: #ea580c;
  --color-orange-700: #c2410c;
  --color-orange-500: #f97316;
  --color-orange-400: #fb923c;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
